<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>I'm a html file</h1>
    <p>If text is undefined, <%= text %> <%= 2+2 %></p>
    <%= locals.text123 || "this way prevents crashes when variable is undefined"
    %>
  </body>
</html>
